 @import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Ysabeau:wght@100&display=swap');

 * {
    margin: 0;
    padding: 0;
    border: none;
    
}

html {
    scroll-behavior: smooth;
    background-color: #c2bcba;
}
body {
    font-family: Arapey, sans-serif;
    font-weight: 300;
    color: #000000;
}

/* heading and logo */

h1, h2 {
    font-family: Arapey, sans-serif;
    text-transform: uppercase;
    color: #191919;
    text-decoration: none;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 25px;
}

/* navigation links */

#menu {
    letter-spacing: 2px;
}

#logo {
    font-family: Arapey, sans-serif;
}

#logo em {
    color: rgb(155, 0, 0);
    font-family: Arapey, sans-serif;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 18px 20px;   
}

#menu a {
    text-decoration: none;
    color: #191919;
    font-size: 20px;
    transition: .1s ease background-color;
}

#menu a:hover{
    border: 1px solid #422c1d;
    background-color: #f0eeee;
    border: 16px solid transparent;
    border-radius: 10px;
}

/* hero image and cover text */

#hero-outer {
    height: 850px;
    width: 100%;
    overflow: hidden;
}

#cover-text {
    color: black;
    letter-spacing: 3px;
    position: absolute;
    top: 320px;
    text-align: center;
    padding-top: 100px;
    margin-left: 210px;
    animation-name: slide;
    animation-duration: 4s;  
    animation-fill-mode: forwards;
    
}

@keyframes slide {
  from {margin-left: 0px; background-color: transparent;}
  to {margin-left: 210px; background-color: transparent;}
}


h2 {
    font-size: 30px;
    padding: 10px;
   padding-left: 10px;
}


h3 {
    padding: 10px;
    font-family: Ysabeau, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

.address {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 1px;
    letter-spacing: 2px;
}

h4{
    font-family: Ysabeau, sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#cover-text a {
   display: inline-block;
   color: #c2bcba;
   background-color: rgb(155, 0, 0);
   margin: 10px;
   padding: 15px;
   font-size: 25px;
   font-weight: bold;
   text-decoration: none;
   letter-spacing: 3px;
   transition: .2s ease background-color;
   border-radius: 15px;
   transition-property: background-color;
}



#cover-text a:hover {
    color: rgb(155, 0, 0);
    background-color: transparent;
    border: 1px solid rgb(155, 0, 0);
}

#hero-image {
    height: 95%;
    background: url('../images/background-cover.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    margin-right: 30px;
    position: relative;
    
}

/* about section */

#about {
    height: 850px;
    width: 100%;
    position: relative;
    
}


#container {
    letter-spacing: 3px;
    margin-top: 70px;
    margin-right: 550px;
    text-align: right;
}

#container em {
    color: rgb(155, 0, 0);
}

img {
  margin-left: 280px;
  float: left;
  width: 400px;
  border: 2px solid black;
}

p {
  text-align: center;
  padding: 90px;
  margin-right: 185px;
  float: right;
  font-size: 25px;
}

#about a {
   color: #c2bcba;
   background-color: rgb(155, 0, 0);
   padding: 15px;
   font-size: 25px;
   font-weight: bold;
   text-decoration: none;
   letter-spacing: 3px;
   transition: .2s ease background-color;
   border-radius: 15px;
   position: absolute;
   bottom: 250px;
   right: 545px;
}

#about a:hover {
color: rgb(155, 0, 0);
background-color: transparent;
border: 1px solid rgb(155, 0, 0);
}

/* about page */

#ab-page {
     height: 850px;
     width: 100%;
}

#backg-image {
    background-image: url(../images/about-page.jpg);
    height: 800px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
}

#ab-page .title {
    text-align: center;
    font-size: 40px;
    margin-left: 700px;
    padding-top: 80px;
}

.about {
    margin-right: 300px;
}

/* gallery section */
