 @import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Ysabeau:wght@100&display=swap');

 * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #c2bcba;
}
body {
    font-family: Arapey, sans-serif;
    font-weight: 300;
    color: #000000;
}

/* heading and logo */

h1, h2 {
    font-family: Arapey, sans-serif;
    text-transform: uppercase;
    color: #191919;
    text-decoration: none;
    letter-spacing: 3px;
}

#logo {
    float: left;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 25px;
}

/* navigation links */

#menu {
    
    letter-spacing: 2px;
}

#logo {
    font-family: Arapey, sans-serif;
}

#logo em {
    color: rgb(155, 0, 0);
    font-family: Arapey, sans-serif;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 18px 20px;   
}

#menu a {
    text-decoration: none;
    color: #191919;
    font-size: 20px;
    transition: .1s ease background-color;
}

#menu a:hover{
    border: 1px solid #422c1d;
    background-color: #f0eeee;
    border: 16px solid transparent;
    border-radius: 10px;
}

/* hero image and cover text */

#hero-outer {
    height: 850px;
    width: 100%;
    overflow: hidden;
}

#cover-text {
    color: black;
    letter-spacing: 3px;
    position: absolute;
    top: 320px;
    text-align: center;
    padding-top: 100px;
    animation-name: slide;
    animation-duration: 4s;  
    animation-fill-mode: forwards;
    
}

@keyframes slide {
  from {margin-left: 0px; background-color: transparent;}
  to {margin-left: 210px; background-color: transparent;}
}


h2 {
    font-size: 30px;
    padding: 10px;
   padding-left: 10px;
}


h3 {
    padding: 10px;
    font-family: Ysabeau, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

.address {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 1px;
    letter-spacing: 2px;
}

h4{
    font-family: Ysabeau, sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#cover-text a {
   display: inline-block;
   color: #c2bcba;
   background-color: rgb(155, 0, 0);
   margin: 10px;
   padding: 15px;
   font-size: 25px;
   font-weight: bold;
   text-decoration: none;
   letter-spacing: 3px;
   transition: .2s ease background-color;
   border-radius: 15px;
   transition-property: background-color;
}



#cover-text a:hover {
    color: rgb(155, 0, 0);
    background-color: transparent;
    border: 1px solid rgb(155, 0, 0);
}

#hero-image {
    height: 95%;
    background: url('../images/background-cover.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    margin-right: 30px;
    position: relative;
}

/* about section */

#about {
    height: 850px;
    width: 100%;
    position: relative;
}


#container {
    letter-spacing: 3px;
    margin-top: 70px;
    margin-right: 550px;
    text-align: right;
}

#container em {
    color: rgb(155, 0, 0);
}

img {
  margin-left: 280px;
  float: left;
  width: 400px;
  border: 2px solid black;
}

p {
  text-align: center;
  padding: 90px;
  margin-right: 185px;
  float: right;
  font-size: 25px;
}

#about a {
   color: #c2bcba;
   background-color: rgb(155, 0, 0);
   padding: 15px;
   font-size: 25px;
   font-weight: bold;
   text-decoration: none;
   letter-spacing: 3px;
   transition: .2s ease background-color;
   border-radius: 15px;
   position: absolute;
   bottom: 250px;
   right: 545px;
}

#about a:hover {
color: rgb(155, 0, 0);
background-color: transparent;
border: 1px solid rgb(155, 0, 0);
}

/* about page */

#ab-page {
     width: 100%;
     height: 100%;
}

#ab-page #backg-image {
    background-image: url(../images/about-page.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    top: 100px;
    width: 100%;
    height: 100%;
    position: absolute;

}

#ab-page #backg-image-transparent {
    position: absolute;
    background-color: #000000b2;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 40px;
    margin-top: 60px;
    right: 200px;
   color: #ffffff;
}

 #design {
    position: absolute;
    top: 100px;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 25px;
    text-align: left;
}

#small-title {
    position: absolute;
    bottom: 400px;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 27px;
    text-align: left;
    left: 80px;
}

#us {
    position: absolute;
    bottom: -50px;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 25px;
    text-align: left;
    left: 0px;
}


/* gallery section */

#gallery {
    width: 100%;
    height: 850px;
}

.title {
    text-align: center;
    padding-bottom: 70px;
}

.title em {
    color: rgb(155, 0, 0);
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}

.row::after {
    content: "";
    display: table;
    
}

.see-more  {
   color: #c2bcba;
   background-color: rgb(155, 0, 0);
   padding: 15px;
   font-size: 25px;
   font-weight: bold;
   text-decoration: none;
   letter-spacing: 3px;
   transition: .2s ease background-color;
   border-radius: 15px;
   position: absolute;
   bottom: -114rem;
   right: 55rem;
}

.see-more:hover {
    color: rgb(155, 0, 0);
    background-color: transparent;
    border: 1px solid rgb(155, 0, 0);
}

/* gallery page */

#photos {
    clear: left;
    top: 200px;
    column-count: 3;
    position: relative;
}

div img {
    position: absolute;
}

.photos {
    position: absolute;
    left: 770px;
    top: 100px;
}

/* prices page */

#prices {
    width: 100%;
    position: relative;
}

#prices #title {
    position: absolute;
    top: 170px;
    right: 550px;
    padding-bottom: 170px;
    color: rgb(0, 0, 0);
}

#prices div {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    background-image: linear-gradient(to right, #acac9c ,#c8a797 );
    width: 20%;
    height: 115rem;
    text-align: center;
    border:  1px solid rgb(0, 0, 0);
    font-family: Ysabeau, sans-serif;
    letter-spacing: 4px;
    top: 350px;
    margin-bottom: 40px;
    position: absolute;
}

#prices .left-row {
    left: 200px;
}

#prices .center-row {
    left: 755px;
}

#prices .right-row {
    right: 200px;
}

#prices .row {
    font-family: Arapey, sans-serif;
    font-size: 23px;
    padding-top: 40px;
}

#prices .price {
    font-family: Arapey;
    font-size: 19px;
}

#prices p {
    position: relative;
    left: 175px;
    padding-top: 40px;
    text-align: left;
    letter-spacing: 3px;
    font-family: Arapey, sans-serif;
    font-size: 23px;
}

#prices a {
   color: #c2bcba;
   background-color: rgb(155, 0, 0);
   padding: 15px;
   font-size: 25px;
   font-weight: bold;
   text-decoration: none;
   letter-spacing: 3px;
   transition: .2s ease background-color;
   border-radius: 15px;
   position: absolute;
   top: 250px;
   right: 56rem;
   
}

#prices a:hover {
    color: rgb(155, 0, 0);
    background-color: transparent;
    border: 1px solid rgb(155, 0, 0);
}